streamlit
pandas
numpy
plotly.graph_objects
plotly.express
sklearn.linear_model
statsmodels.tsa.holtwinters
scipy.stats
statsmodels.api
moexalgo
yfinance
random
datetime
os
ta.momentum
ta.trend
ta.volatility
sklearn.neural_network
sklearn.model_selection
sklearn.preprocessing
sklearn.metrics
sklearn.inspection
sklearn.metrics
itertools